
# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
*.local

# Testing
coverage

# Build Outputs
# .next/
out/
build
dist
dist-ssr

# 일반적인 목록
.cache
.DS_Store
# .vscode
.idea
.tmp
.turbo
.vercel
*.log
*.pem
*.tsbuildinfo

# 추가
# package.json
package-lock.json
pnpm-lock.yaml