# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
*.local

# Testing
coverage

# Build Outputs
# .next/
out/
build
dist
dist-ssr

# 일반
.cache
.eslintcache
.stylelintcache
.DS_Store
.idea
.next
.temp
.tmp
.turbo
.vercel
*.log
*.pem
