{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": false,
	"objectWrap": "preserve",
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "preserve",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"trailingComma": "es5",

	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{ "files": "*.md", "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.json", "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.jsonc", "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.css", "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.less", "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.scss", "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.yaml", "options": { "tabWidth": 2, "useTabs": false } }
	]
}
